body {
	background-color: #b71c1c;
}

h2 {
	font-weight: bold;
	margin-top: 0;
	margin-left: 40px;
}

.chat-container {
	height: 100%;
}
.message-list {
	list-style-type: none;
	margin-right: 40px;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] { font-size: 16px; }

input[type=text] {
	margin-left: 40px;
}

input[value] {
	color: white;	
}

button[type=submit] {
	margin-left: 40px;	
}

/* Portrait and Landscape for Mobile*/
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 0) { 

  	body {
  		margin-left: 40px;
  	}

	  input:focus {
	  	
	    font-size: 16px;
	  }
}